.button {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: unset;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s;
}

.primary {
  background-color: #313037;
  &:hover {
    background-color:  #5B5A62;
  }
}

.secondary {
  border: 1px solid #E7E7E7;
}