.headerContainer{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: 1px solid #E7E7E7;
    & img{
        cursor: pointer;
    }
    &Left{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
    }
    &Logo{
        display: flex;
        align-items: center;
    }
}
.favotites{
    cursor: pointer;
}
.cart{
    cursor: pointer;
}