.headerSearch{
    position: relative;
    & input{
        outline: none;
        width: 542px;
        height: 56px;
        border: 1px solid #E7E7E7;
        padding: 0 20px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #A8A8A8;
        transition: 0.3s;
        &::placeholder{
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #A8A8A8;
        }
        &:focus{
            border: 2px solid #E7E7E7;
            outline: none;
            transition: 0.3s;
        }
    }
    & button{
        cursor: pointer;
        background: inherit;
        border: none;
        position: absolute;
        right: 20px;
        top: calc(50% - 12.5px);
    }
}